.container-fluid
  .row
    .col-lg-6.offset-lg-3.left-side
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .card
          .card-body
            %h2.card-title.text-center Log in
            %hr/
            .field.form-group
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, class: 'form-control'
            .field.form-group
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            .actions
              - if devise_mapping.rememberable?
                .field.form-group
                  = f.check_box :remember_me
                  = f.label :remember_me
              .text-right
          = f.submit "Get in. Uffs", class: 'btn btn-primary'
        .alert.alert-info.text-center{:role => "alert", :style => 'margin: 0 auto;'}
          = render "devise/shared/links"
    -# .col-lg-7.right-side
    -#   %h1.text-center{:style => 'margin-top: 200px;'}
    -#     ¿Qué tan fake eres motherf*cker?
:scss
  .right-side{
    height: 100vh;
  }
  .left-side{
    height: 100vh;
    background-color: lightgray;
    .card{
      top: 70px;
      width: 80%;
      margin: 0 auto;
      .card-title{
        color: #007bff;
      }
    }
    .alert{
      display: flex;
      top: 80px;
      width: 80%;
      margin: 0 auto;
    }
  }
  input{
    background-color: transparent !important;
  }
  #user_date_birth_1i{
    width: 100px;
  }
  .form-group{
    margin-bottom: .2rem;
    .form-control{
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-radius: 0;
      transition: .3s;
      border-bottom: 1.5px solid #ced4da;
      &:focus{
        border-color: #5a93c7;
        box-shadow: 0 0 0 transparent;
        transition: .3s;
      }
    }
  }
  .addon-icon{
    &:not(:last-child){
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    border-radius: 2px;
    border: 0;
    font-size: 18px;
    background-color: transparent;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    padding: .5rem .75rem;
    margin-bottom: 0;
    white-space: nowrap;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }
